.place-thumb {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}

.card-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  text-align: center;
  border: 2px solid #fdd700;
  border-radius: 2rem;
  box-sizing: border-box;
  height: 40vh;
  width: 15vw;
}

.card-img {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem 1rem;
}

.place-thumb:hover {
  color: #b6202b;
}

.placeName {
  text-align: center;
  font-size: 1.5vw;
  width: 15vw;
  height: 10vh;
}
