.place-thumb {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: aliceblue;
}

.card-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  text-align: center;
  border: 2px solid #fdd700;
  border-radius: 2rem;
}

.card-img {
  // border: solid 1px #585858;
  // box-shadow: 0 0 2rem #585858;
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 2rem;
  padding: 10px 10px;
}

.card-img:hover {
  border: solid 1px #ff636e;
  box-shadow: 0 0 2rem #ff636e;
}

.place-thumb:hover {
  color: #b6202b;
}
