.card-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.place-card-container {
  display: grid;
  color: #fff;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  align-content: space-around;
}

.card-img {
  border: solid 1px #8C8C8C;
  box-shadow: 0 0 20px #8C8C8C;
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 0.9em;
}