@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.NavBar-container {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    width: 100%;
    height: 80px;
}

.title-text {
    h1 {
        margin-left: 20px;
    }
}

.links-container {
    width: auto;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    margin: 0 20px;
    color: #fff;

    &:hover {
        color: #fdd700;
    }
}
