@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.NavBar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    position: absolute;
    left: 60px;
    width: 100%;
}

.title-text {

}

.links-container {
    width: auto;

    ul {
        position: relative;
        right: 120px;

        li {
            display: inline-block;
            font-size: 20px;
            padding: 20px;
        }
    }
}
