.city-name {
  font-family: "Abril Fatface", cursive;
  color: #fff;
  text-align: center;
  font-size: 5em;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.category-button {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d6c118;
  background: transparent;
  border: solid 0.1rem #d6c118;
  border-radius: 2rem;
  height: 5vh;
  width: 11vw;
  font-size: 1.5vw;
  margin-bottom: 3vh;
}

.category-button:hover {
  cursor: pointer;
  border: solid #d51131 2px;
  color: #d51131;
}

.place-card-container {
  background-color: #00000071;
  color:#fff;
  border-radius: 2rem;
  padding: 20px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.place-card-box {
  display: flex;
  justify-content: center;
}
